header .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
} 
header {
  text-align: center;
  color: #fff;
  background: #18bc9c;

  position: fixed;
  width:100%;
  z-index: 1;
  height: 40%;
  overflow: hidden;
  top: 0;
  left: 0;
}
.wrapper{
  top: 300px;
  min-height: 12%;
  position:relative;
  z-index: 1;
  width: 100%;    
}
.sidebar{
  min-height: 12%;
  position:relative;
  z-index: 1;
}